* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Michroma', sans-serif;
}

h1 {
  text-align: center;
  width: 100%;
  color: #ebbe25;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  }

  h2 {
  text-align: center;
  color: #f44336;
  background-color: #ebbe25;;
  font-weight: bold;
}

h3 {
  color: #f44336;
  font-weight: bold;
  text-align: center;
}


/* Lang Selector */
.select-lang {
  font-weight: bold;
  border: none;
  color: #f44336;
  background-color: #ebbe25;
  border-radius: 20px;
  padding: 5px;
}

@media (max-width:500px) {
  .select-lang {
  display: none;
  }
}

main {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
  background: #ebbe25;
}

header {
  height: 50px;
  background-color: #f44336;
  width: 100%;
  height: 2%;
  padding: 2%;
  font-weight: bold;
}

/* Menu */
nav {
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 20%;
}

/* Meme Images */
.imgs-container {
  width: 100%;
  max-width: 70rem;
  justify-content: center;
  /* align-content: center; */
}

/* Main Page Meme List Style */
.meme-list {
  list-style-type: none;
  padding: 0;
}

/* Main Page Meme Shape and Pointer */
.img-pick {
cursor: pointer;
border-radius: 25px;
}

/* imgs List Center */
ul.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgs-container li {
  margin: 4px;
  width: 200px;
  height: 200px;
}


/* Fit img to img Container */
.fit-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
  background: url('../img/banana.jpg') center;
  transition: all 1s;
}

.modal.hide {
  bottom: -100%;
  display: block;
  widows: 100%;
  height: 100%;
}

.modal-content {
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.img-canvas {
  max-width: 100%;
  width: 290px;
  height: auto;
  margin: 0;
  border: 5px #aa720b solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.textareas-container {
  max-width: 100%;
  margin: 0 10px 10px 10px;
}


/* Text Area Placeholder */
.add-line-container textarea {
  height: 3rem;;
  background: #ffbb003a;
  color: #aa720b;
  margin-bottom: 10px;
  font-family: 'Michroma', sans-serif;
  padding: 16px 0px 0 8px;
  font-size: 12px;
}

.add-line-container textarea::placeholder{
  color: #aa720b;
  font-weight: bold;
  font-size: inherit;
  }

.modal-content .btn {
  width: 33px; 
  height: 26px;
}

.btn.ctrl-btn {
  background: #aa720b;
  color: #ebbe25;
  border: none;
  margin-bottom: 10px;
}

.show-curr-line {
  color: #aa720b;
  font-weight: bold;
  padding: 4px 0;
  margin: 0 12px;
  text-align: center;
  align-items: center;
}

/* Previous and Add or Next Line Buttons */
.btn.browse-btn {
  border: none;
  color: #ebbe25;
  background: #aa720b;
  font-size: 12px;
  font-weight: bold;
  width: 7rem;
  height: 3rem;
  font-family: 'Michroma', sans-serif;
}

.action-line-wrapper {
  width: 100%;
  margin-bottom: 10px;
}

.btn.download-btn {
  background: #aa720b;
  height: 3rem;
  width: 2rem;
}

.font-pick-bar {
  margin: 0;
  justify-content: space-evenly;
  color: #ebbe25;
  background: #aa720b;
  border-radius: 5px;
  padding: 1px 10px;
}

.font-pick-bar li {
  cursor: pointer;
}

.pick-times-nr {
  font-family: 'Times New Roman';
}

.pick-arial {
  font-family: Arial;
}

.pick-impact {
  font-family: Impact;
}

a {
  color: white;
    text-decoration: none;
}

.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #aa720b;
  color: #ebbe25;
  border: none;
  border-radius: 10px;
}

.btn.return-btn{
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  background: #aa720b;
  color: #ebbe25;
  border: none;
  border-radius: 30%;
}

.center-items {
  justify-content: center;
  align-items: center;
}


/* Color Picker */
input[type="color"] {
  width: 100%;
  height: 100%;
  background: inherit;
  border:  none;
  cursor:  pointer;
}

.no-scroll {
  overflow: hidden;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

footer {
  color: white;
  background-color: #f44336;
  height: 50px;
  text-align: center;
  padding: 1px;
}